         th{
        border: 5px solid black;
         }
         td{
            border: 5px solid black;
         }
         table{
            border: 5px solid black;
         }
         fieldset{
             width: 500px;
         }
         